{
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
               "parser": "blade",
               "tabWidth": 2,
               "sortHtmlAttributes": "code-guide",
               "wrapAttributes": "force-aligned"
            }
        }
    ]
}
