{
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["@shufo/prettier-plugin-blade"],
    "arrowParens": "always",
    "tabWidth": 2,
    "endOfLine": "lf",
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 110,
    "semi": true,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
               "parser": "blade",
               "tabWidth": 2,
               "sortHtmlAttributes": "code-guide",
               "wrapAttributes": "force-aligned"
            }
        }
    ]
}
