{
    "parser": "php",
    "plugins": ["@prettier/plugin-php", "@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
               "parser": "blade",
               "tabWidth": 2,
               "sortHtmlAttributes": "code-guide",
               "wrapAttributes": "force-aligned"
            }
        },
        {
            "files": ["*.php"],
            "options": {
                "parser": "php",
                "phpVersion": "7.4",
                "printWidth": 120
            }
        }
    ]
}
