
php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value memory_limit 256M
php_value max_execution_time 300
php_value zend_extension opcache
php_value opcache.enable 1

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|js\.gz|css\.gz|js\.br|css\.br|js|css)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>

<IfModule mod_headers.c>
  RewriteCond "%{HTTP:Accept-encoding}" "br"
  RewriteCond "%{REQUEST_FILENAME}\.br" -s
  RewriteRule "^(.*)\.(css|js)"         "$1\.$2\.br" [QSA]

  RewriteRule "\.css\.br$" "-" [T=text/css,E=no-br:1]
  RewriteRule "\.js\.br$"  "-" [T=text/javascript,E=no-br:1]

  <FilesMatch "(\.js\.br|\.css\.br)$">
    Header append Content-Encoding br
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
