@import "bulma/css/versions/bulma-no-dark-mode.min.css";

:root {
    --bulma-primary-h: 201;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 14%;
    --bulma-primary-invert-l: calc(100% - var(--bulma-primary-l));
    --bulma-success-h: 150;
    --bulma-success-s: 71%;
    --bulma-success-l: 41%;
    --bulma-success-invert-l: var(--bulma-light-l);
    --ss-primary-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
    --ss-focus-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), calc(var(--bulma-primary-l) + 10%));
}

.loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid var(--bulma-border);
  border-radius: var(--bulma-radius-rounded);
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 5em;
  position: relative;
  width: 5em;
  margin: auto;
  margin-top: 5em;
}


.is-primary {
    --bulma-link-text: #D6DBFF;
}

.preserve-rounding {
    border-radius: var(--bulma-control-radius) !important;
}

.level.bordered {
    padding-block: 0.25rem;
    border-top: var(--bulma-white) 1px solid;
    border-bottom: var(--bulma-white) 1px solid;
}
