@import "tailwindcss";
@import "slim-select/styles";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.elm";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1E4ED8;
}
@plugin "@tailwindcss/typography";
